In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import csv

dir = '/home/joe/data/jhu/COVID-19/csse_covid_19_data/csse_covid_19_time_series/'

dataConfirmed = dir + 'time_series_19-covid-Confirmed.csv'
dataDeaths = dir + 'time_series_19-covid-Deaths.csv'
dataRecovered = dir + 'time_series_19-covid-Recovered.csv'

dfConfirmed = pd.read_csv(dataConfirmed)
dfDeaths = pd.read_csv(dataDeaths)
dfRecovered = pd.read_csv(dataRecovered)

In [21]:
dfConfirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,53,59,70,75,82,114,147,177,212,272
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,581,639,639,701,773,839,825,878,889,924
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,160,178,178,200,212,226,243,266,313,345
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,129,149,149,197,238,428,566,673,790,900

In [22]:
dfC = dfConfirmed.drop(['Province/State','Lat','Long'],axis=1)
dfC.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,Thailand,2,3,5,7,8,8,14,14,14,...,53,59,70,75,82,114,147,177,212,272
1,Japan,2,1,2,2,4,4,7,7,11,...,581,639,639,701,773,839,825,878,889,924
2,Singapore,0,1,3,3,4,5,7,7,10,...,160,178,178,200,212,226,243,266,313,345
3,Nepal,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Malaysia,0,0,0,3,4,4,4,7,8,...,129,149,149,197,238,428,566,673,790,900

In [23]:
dfC.set_index('Country/Region').T

Country/Region,Thailand,Japan,Singapore,Nepal,Malaysia,Canada,Australia,Australia,Australia,Cambodia,...,"Gambia, The",United Kingdom,"Bahamas, The",Denmark,France,United Kingdom,Chad,El Salvador,Fiji,Nicaragua
1/22/20,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,5,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,7,2,3,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,8,4,4,1,4,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1/27/20,8,4,5,1,4,0,4,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1/28/20,14,7,7,1,4,1,4,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1/29/20,14,7,7,1,7,1,4,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1/30/20,14,11,10,1,8,1,4,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1/31/20,19,15,13,1,8,1,4,3,2,1,...,0,0,0,0,0,0,0,0,0,0
2/1/20,19,20,16,1,8,1,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
2/2/20,19,20,18,1,8,1,4,4,2,1,...,0,0,0,0,0,0,0,0,0,0
2/3/20,19,20,18,1,8,1,4,4,2,1,...,0,0,0,0,0,0,0,0,0,0
2/4/20,25,22,24,1,10,1,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
2/5/20,25,22,28,1,12,2,4,4,3,1,...,0,0,0,0,0,0,0,0,0,0
2/6/20,25,45,28,1,12,2,4,4,4,1,...,0,0,0,0,0,0,0,0,0,0
2/7/20,25,25,30,1,12,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/8/20,32,25,33,1,16,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/9/20,32,26,40,1,16,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/10/20,32,26,45,1,18,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/11/20,33,26,47,1,18,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/12/20,33,28,50,1,18,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/13/20,33,28,58,1,19,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/14/20,33,29,67,1,19,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/15/20,33,43,72,1,22,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/16/20,34,59,75,1,22,4,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/17/20,35,66,77,1,22,5,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/18/20,35,74,81,1,22,5,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/19/20,35,84,84,1,22,5,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/20/20,35,94,84,1,22,5,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/21/20,35,105,85,1,22,6,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/22/20,35,122,85,1,22,6,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/23/20,35,147,89,1,22,6,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/24/20,35,159,89,1,22,6,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/25/20,37,170,91,1,22,7,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/26/20,40,189,93,1,22,7,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/27/20,40,214,93,1,23,7,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/28/20,41,228,93,1,23,7,4,4,5,1,...,0,0,0,0,0,0,0,0,0,0
2/29/20,42,241,102,1,25,8,4,7,9,1,...,0,0,0,0,0,0,0,0,0,0
3/1/20,42,256,106,1,29,8,6,7,9,1,...,0,0,0,0,0,0,0,0,0,0
3/2/20,43,274,108,1,29,8,6,9,9,1,...,0,0,0,0,0,0,0,0,0,0
3/3/20,43,293,110,1,36,9,13,9,11,1,...,0,0,0,0,0,0,0,0,0,0
3/4/20,43,331,110,1,50,12,22,10,11,1,...,0,0,0,0,0,0,0,0,0,0
3/5/20,47,360,117,1,50,13,22,10,13,1,...,0,0,0,0,0,0,0,0,0,0
3/6/20,48,420,130,1,83,21,26,10,13,1,...,0,0,0,0,0,0,0,0,0,0
3/7/20,50,461,138,1,93,21,28,11,13,1,...,0,0,0,0,0,0,0,0,0,0
3/8/20,50,502,150,1,99,27,38,11,15,2,...,0,0,0,0,0,0,0,0,0,0
3/9/20,50,511,150,1,117,32,48,15,15,2,...,0,0,0,0,0,0,0,0,0,0
3/10/20,53,581,160,1,129,32,55,18,18,2,...,0,0,0,0,0,0,0,0,0,0
3/11/20,59,639,178,1,149,39,65,21,20,3,...,0,0,0,0,0,0,0,0,0,0
3/12/20,70,639,178,1,149,46,65,21,20,3,...,0,0,0,0,0,0,0,0,0,0
3/13/20,75,701,200,1,197,64,92,36,35,5,...,0,0,0,0,0,0,0,0,0,0
3/14/20,82,773,212,1,238,64,112,49,46,7,...,0,0,0,0,0,0,0,0,0,0
3/15/20,114,839,226,1,428,73,134,57,61,7,...,0,0,0,0,0,0,0,0,0,0
3/16/20,147,825,243,1,566,103,171,71,68,7,...,0,0,1,1,0,0,0,0,0,0
3/17/20,177,878,266,1,673,103,210,94,78,33,...,1,0,1,1,0,0,0,0,0,0
3/18/20,212,889,313,1,790,186,267,121,94,35,...,1,1,1,1,0,0,0,0,0,0
3/19/20,272,924,345,1,900,231,307,121,144,37,...,1,1,3,2,2,2,1,1,1,1