In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import csv

headers = ['datetime','instanceId','maxCPUPercent']
data = '/home/joe/data/aws/out.txt'
df = pd.read_csv(data, names=headers)

In [8]:
df.head(2)

                    datetime           instanceId  maxCPUPercent
0  2020-03-23 20:40:00+00:00  i-0ca364ec6656ff517       0.169492
1  2020-03-23 22:45:00+00:00  i-0ca364ec6656ff517       0.166667

In [10]:
df.describe()

       maxCPUPercent
count     127.000000
mean        2.065994
std         3.899760
min         0.163934
25%         0.166667
50%         0.169492
75%         3.333333
max        33.166667

In [12]:
dfG = df.groupby('instanceId')['maxCPUPercent'].mean()
dfG

instanceId
i-089389afc8097dac4    0.501436
i-09f0182499b5eaf27    4.235662
i-0ca364ec6656ff517    0.514968
Name: maxCPUPercent, dtype: float64

In [22]:
instances = df.instanceId.unique()
instances

array(['i-0ca364ec6656ff517', 'i-09f0182499b5eaf27',
       'i-089389afc8097dac4'], dtype=object)

In [32]:
dfP = df.pivot(index=df['datetime'], columns='instanceId')['maxCPUPercent']
dfP = dfP.fillna(0)
dfP